.navig{
    height:7vh;
    background-color: #141414;
    border:5px solid #141414;
}
.logout{
    background-color: rgba(255, 0, 0,0.7);
    width:15vh;
}
* {
margin: 0;
padding: 0;
}
body {
    background-image:url(rc29.jpg);
    background-size:cover;
}


.container{

width: auto;
height:auto;
top: calc(50% - 240px);
left: calc(50% - 160px);
}

.from { 
text-align: center;
background:rgba(0, 0, 0);
width: 310px;
height: 470px;
margin-top:10vh;
border-radius: 5px;
padding: 30px 20px 0 20px;
box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
box-sizing: border-box;

}
.card{
    
    text-align: center;
    background:black;
    width: 60%;
    height: 55vh;
    border-radius: 5px;
  
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    
    }
    


h3 {
font-family: 'Dosis';
font-size: 35px;
text-transform: uppercase;
color: rgba(255, 255, 255,0.8);
margin-bottom: 30px;
}


button.form-btn {
width: 100%;
height: 60px;
bottom: 0;
border: 0;
margin-top:4vh;
font-family: 'Dosis';
font-size: 24px;
text-transform: uppercase;
cursor: pointer;
color:black;
background-color:teal;
}

button.form-btn.sx {
left: 0;
border-radius: 0 0 0 5px;

background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), 
radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%)#989898;
color: black;


transition:all 0.3s linear;
}
button.btn {
  
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), 
    radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%)#989898;
    color: black;
    background-color:teal;
    height:6vh;
    width:15vh;
    }
    

button.form-btn.sx:hover {

color: black;
background-color: rgba(0, 0, 0, 0.35);
}


button.form-btn:hover {
    
    color: black;
    }
button.form-btn.sx.back {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), 
    radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%)#989898;
transition:all 0.3s linear;
color:black;
}

button.form-btn.sx.back:hover {
background-color: rgba(0, 0, 0, 0.35);
}

button.form-btn.dx {
right: 0;
border-radius: 0 0 5px 0;
background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), 
radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%)#989898;
color: #fff;
}

input {
border: none;
border-bottom: 1px solid white;
width: 95%;

background-color: rgba(0,0,0,0.2);
color:white;
text-align: center;
font-size: 21px;
font-weight:100;
margin-bottom:25px;
}
input[type=radio]{
    border:0px;
    width:100%;
    height:1em;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255,0.3);
font-family: 'Roboto';
font-weight:100;
}




.p1{
   z-index: 1;
   transform: perspective(100px) translate3d(100px, 0px, -30px);
   opacity: 0.5;
}

.p2 {
z-index: 2;
}


.active-dx{
animation-name: foregrounding-dx;
animation-duration: 0.9s;
animation-fill-mode: forwards;
}

.active-sx{
animation-name: foregrounding-sx;
animation-duration: 0.9s;
animation-fill-mode: forwards;
}

.inactive-dx{
animation-name: overshadowing-dx;
animation-duration: 0.9s;
animation-fill-mode: forwards;
}

.inactive-sx{
animation-name: overshadowing-sx;
animation-duration: 0.9s;
animation-fill-mode: forwards;
}

@keyframes overshadowing-dx {
0%{
   z-index:2;
   transform: perspective(100px) translate3d(0px, 0px, 0px);
   opacity: 1;
   box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
}
100%{
   z-index: 1;
   transform: perspective(100px) translate3d(100px, 0px, -30px);
   opacity: 0.5;
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}
}

@keyframes overshadowing-sx {
0%{
   z-index:2;
   transform: perspective(100px) translate3d(0px, 0px, 0px);
   opacity: 1;
   box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
}
100%{
   z-index: 1;
   transform: perspective(100px) translate3d(-100px, 0px, -30px);
   opacity: 0.5;
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}
}

@keyframes foregrounding-dx {
0%{
   z-index:1;
   transform: perspective(100px) translate3d(100px, 0px, -30px);
   opacity: 0.5;
}
50%{
   z-index:2;
   transform: perspective(100px) translate3d(200px, 0px, -30px);
}
100%{
   z-index:2;
   transform: perspective(100px) translate3d(0px, 0px, 0px);
   opacity: 1;
}
}

@keyframes foregrounding-sx {
0%{
   z-index:1;
   transform: perspective(100px) translate3d(-100px, 0px, -30px);
   opacity: 0.5;
}
50%{
   z-index:2;
   transform: perspective(100px) translate3d(-200px, 0px, -30px);
}
100%{
   z-index:2;
   transform: perspective(100px) translate3d(0px, 0px, 0px);
   opacity: 1;
}
}

